// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.question {
  border-left: solid 8px lightgrey;
  padding: 4px 12px;
  margin-bottom: 20px;
}

.answer {
  border-left: solid 8px lightgrey;
  background-color: lightyellow;
  padding: 4px 12px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: darkorange;
  margin-top: 20px;
}

a:hover {
  color: orange;
}
